# OSX
#
.__tmp/
.babelrc
.buckconfig
.flowconfig
.gitattributes
.vscode/
.watchmanconfig
.DS_Store
yarn.lock

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
ios/Pods
ios/F8v2.xcworkspace

#my_flutter
my_flutter/.android/build
my_flutter/.android/Flutter/build
my_flutter/.android/Flutter/build.gradle.bak
my_flutter/.android/publish.log
my_flutter/.dart_tool
my_flutter/.idea
my_flutter/build
my_flutter/aliyun.properties
my_flutter/build.log
my_flutter/publish.gradle.bak
my_flutter/temp_file
my_flutter/tmpfile

yarn-error.log

# Android/IJ
#
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log

# F8
#

/release
/logs

# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

